@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-color: #fafbff;
}

.dashboard-page {
  border: 1px solid red;
  display: flex;
}

.sidebar {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 306px;
  box-shadow: 1px 0px 5px #8383833b;
}

.logo {
  display: flex;
  align-items: center;
  width: 195px;
  height: 100px;
  margin-left: 24px;
}
.logo__title {
  font-family: "Poppins";
  font-size: 26px;
  letter-spacing: 1%;
  font-weight: 600;
  margin: 0;
}
.logo__logo-img {
  margin: 0 14px;
}
.logo__typography-block {
  display: flex;
  align-items: baseline;
}
.logo__subtitle {
  font-size: 10px;
  font-weight: 500;
  color: #838383;
}

.sidebar__links-list {
  display: flex;
  flex-direction: column;
}
.sidebar__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #9197b3;
  border-radius: 8px;
  width: 250px;
  height: 46px;
  font-size: 14px;
  font-weight: 500;
  margin: 14px 28px;
  transition: 300ms;
}
.sidebar__link:hover {
  background-color: #5932ea;
  color: white;
}
.sidebar__link-typography {
  display: flex;
  align-items: center;
}
.sidebar__link-icon {
  width: 24px;
  height: auto;
  margin: 0 15px 0 10px;
}
.sidebar__link:hover .sidebar__link-icon,
.sidebar__link:hover .sidebar__link-arrow {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(170%)
    contrast(115%);
}
.sidebar__link-arrow {
  align-self: center;
  margin-right: 10px;
}
.sidebar__profile {
  display: flex;
  align-items: center;
  margin-bottom: 76px;
  height: 42px;
}
.sidebar__profile-pic {
  display: block;
  width: 42px;
  height: 42px;
  margin-left: 24px;
}
.sidebar__profile-name,
.sidebar__profile-rank {
  font-weight: 500;
}
.sidebar__profile-name {
  font-size: 14px;
  margin: 0;
}
.sidebar__profile-rank {
  font-size: 12px;
  color: #757575;
}
.sidebar__profile-typography {
  margin-left: 10px;
}

.content {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}
.content__wrapper {
  align-self: center;
  width: 968px;
}

.table {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 0px 5px #8383833b;
  padding: 38px 30px;
  height: 812px;
}
.table__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  margin-bottom: 40px;
}
.table__title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -1%;
  padding: 0;
  margin: 0;
}
.table__subtitle {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1%;
  color: #16c098;
}
.table__searchbar {
  display: flex;
  max-width: 216px;
  height: 38px;
  padding: 4px 2px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  background-color: #f9fbff;
  overflow: hidden;
}
.table__searchbar-icon {
  width: 24px;
  height: auto;
}
.table__searchbar-input {
  background-color: #f9fbff;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  color: #b5b7c0;
}
.table__searchbar-input:focus {
  color: black;
}
.table__content {
  border-collapse: collapse;
}
.table__headers-list {
  position: relative;
}
.table__headers-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -30px;
  width: 968px;
  border-bottom: 1px solid #eeeeee;
}
.table__headers-list .table__header,
.table__row-text,
.table__row-status {
  color: #b5b7c0;
  font-size: 14px;
  letter-spacing: -1%;
  font-weight: 500;
}
.table__row {
  border-bottom: 1px solid #eeeeee;
}
.table__row-text {
  color: #000;
  padding: 24px 24px;
}
.table__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table__footer-stats {
  font-size: 14px;
  font-weight: 500;
  color: #b5b7c0;
}
.table__page-selector-number,
.table__page-selector-points {
  font-size: 12px;
  font-weight: 400;
  color: #404b52;
}
.table__page-selector {
  display: flex;
  align-items: center;
}
